[submodule "rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "markdown-mode"]
	path = vendor/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "twilight-emacs"]
	path = vendor/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "/magit"]
	path = vendor/magit
	url = git://github.com/technomancy/magit.git
[submodule "cheat.el"]
	path = vendor/cheat.el
	url = git://github.com/defunkt/cheat.el.git
[submodule "gist.el"]
	path = vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el
