[submodule "rinari"]
	path = emacs.d/rinari
	url = git://github.com/technomancy/rinari.git
[submodule "markdown-mode"]
	path = emacs.d/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "git-emacs"]
	path = emacs.d/git-emacs
	url = git://github.com/tsgates/git-emacs.git
