[submodule "rinari"]
	path = emacs.d/rinari
	url = git://github.com/technomancy/rinari.git
[submodule "markdown-mode"]
	path = emacs.d/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "git-emacs"]
	path = emacs.d/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "twilight-emacs"]
	path = emacs.d/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "emacs.d/rhtml"]
	path = emacs.d/rhtml
	url = git://github.com/eschulte/rhtml.git
